In [89]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [90]:
# Import API key
from API_Keys import g_key

In [91]:
#load csv
city_df = pd.read_csv("../WeatherPy/city.csv")
city_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,297.59,97,94,1.34,EC,1618625881
1,1,Torbay,47.6666,-52.7314,273.25,93,90,5.66,CA,1618626044
2,2,Mareeba,-17.0000,145.4333,303.01,58,90,8.75,AU,1618626119
3,3,Hasaki,35.7333,140.8333,291.01,63,75,8.23,JP,1618625884
4,4,Punta Arenas,-53.1500,-70.9167,282.09,71,0,8.75,CL,1618625807

In [92]:
dropna_data = city_df.dropna()
del dropna_data["Unnamed: 0"]
dropna_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Puerto Ayora,-0.7393,-90.3518,297.59,97,94,1.34,EC,1618625881
1,Torbay,47.6666,-52.7314,273.25,93,90,5.66,CA,1618626044
2,Mareeba,-17.0000,145.4333,303.01,58,90,8.75,AU,1618626119
3,Hasaki,35.7333,140.8333,291.01,63,75,8.23,JP,1618625884
4,Punta Arenas,-53.1500,-70.9167,282.09,71,0,8.75,CL,1618625807

In [93]:
gmaps.configure(g_key)
location = dropna_data[["Lat","Lng"]]
humidity = dropna_data["Humidity"]

In [94]:
figure_layout = {
    "width": "400px",
    "height": "300px",
    "border": "1px solid  black",
    "padding": "1px",
    "margin": "0 auto 0 auto"
}
fig = gmaps.figure(layout = figure_layout)
fig

Figure(layout=FigureLayout(border='1px solid  black', height='300px', margin='0 auto 0 auto', padding='1px', wâ€¦

In [95]:
heat = gmaps.heatmap_layer(location, weights=humidity, point_radius=1, dissipating=False, max_intensity=10)
fig.add_layer(heat)
fig

Figure(layout=FigureLayout(border='1px solid  black', height='300px', margin='0 auto 0 auto', padding='1px', wâ€¦

In [118]:
weather_criteria_df = dropna_data.loc[dropna_data["Max Temp"]<275]
temp_criteria = weather_criteria_df.loc[weather_criteria_df["Max Temp"]>200]
wind_criteria = temp_criteria.loc[temp_criteria["Wind Speed"]<10]
cloudiness_criteria = wind_criteria.loc[wind_criteria["Cloudiness"]==0]
cloudiness_criteria

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
210,YlÃ¶jÃ¤rvi,61.5563,23.5961,272.94,74,0,2.06,FI,1618626170
420,Jyvaskyla,62.2415,25.7209,270.56,86,0,1.03,FI,1618626226
451,Harwich,51.9419,1.2844,274.80,79,0,1.34,GB,1618626236

In [120]:
hotel_df = cloudiness_criteria[["City", "Lat", "Lng", "Max Temp", "Country"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df

          City      Lat      Lng  Max Temp Country Hotel Name
210   YlÃ¶jÃ¤rvi  61.5563  23.5961    272.94      FI
420  Jyvaskyla  62.2415  25.7209    270.56      FI
451    Harwich  51.9419   1.2844    274.80      GB

In [115]:
    
name = "Hotel"
radius = 5000
place = "lodging"

for index, row in cloudiness_criteria.iterrows():
    city = cloudiness_criteria["City"]
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": city,
        "rankby": radius,
        "type": place,
        "key": g_key,
    }

    
    response = requests.get(base_url,params=params).json()
    results = response["results"]
    
    
    try:
        cloudiness_criteria.loc[index, "Hotel Name"] = response["results"][0]["Hotel Name"]
    except:
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found